<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>2-testWithGithub.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CC0661BD1DBEF81D0044F678</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC0661D11DBEF81D0044F678</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC0661DC1DBEF81D0044F678</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
